.main {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.main .slice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.main .slice img {
    margin-top: 40px;
    width: 320px;
    height: 320px;

}

.main button {
    width: 160px;
    padding: 10px;
    background-color: white;
}

.slice button:hover {
    background-color: black;
    color: white;
    transition: all .5s ease;
}