.main{
    padding: 5px 0;
}

.main .slice3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.main .sliceFirst {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.main .info{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main .sliceFirst img {
    width: 100%;
    height: 80%;

}

.main .slice3 img {
    width: 100%;
    height: 80%;
}

.main button {
    width: 160px;
    padding: 10px;
    background-color: white;
}


.slice3 button:hover {
    background-color: black;
    color: white;
    transition: all .5s ease;
}